@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 50px;
}

.sketchPad {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.sketchPad div {
    margin: -1px;
    padding: 0px;
}

.mainScreen {
    display: flex;
}

.settingsPanel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    background-color: blanchedalmond;
    text-align: center;
}

.applySettingsBtn {
    margin-top: 15px;
    width: 50%;
    align-self: center;
}