@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
    height: 100%;
}

/* {
    border-style: solid;
} */

body {
    background-color: #a8dadc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

h1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 50px;
}

.sketchPad {
    border-style: solid;
    border-radius: 4px;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.sketchPad div {
    margin: -1px;
    padding: 0px;
}

.mainScreen {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
    background-color: #e63946;
}

.settingsPanel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    background-color: #f1faee;
    text-align: center;
}

.settingsTitle {
    font-size: large;
    font-weight: bold;
}

footer {
    display: flex;
    margin: auto 0px 0px 0px;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #1d3557;
    color: aliceblue;
}

footer a {
    color: inherit;
}

footer p {
    padding: 0px 5px;
}

.githubIcon {
    width: 25px;
    height: 25px;
}